<!DOCTYPE html>
<html>
<head>
    <title>Category list</title>
</head>
<body>

Item list for category:  {{category.name}}
<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


<div>
    <a href="{{url_for('newCategoryItem',category_name=category.name)}}">Add new item</a>
</div>

{% for i in items %}

<div>
    <p>{{i.name}}</p>
    <p>{{i.description}}</p>
</div>
<br/>
{% endfor %}

<br/>
<div>
    <a href="{{url_for('showCategory')}}"> Back to main </a>
</div>

</body>
</html>