
<!DOCTYPE html>
<html>
<head>
    <title>Edit Item</title>
</head>
<body>

<div>
    Enter new item info
</div>

<div>
    <form method="POST" action="{{url_for('editCategoryItem',category_name=category.name,item_name=item.name)}}">

    <table>
        <tr>
          <td>Name: </td>
          <td><input type="text" name="name" size="30" value="{{item.name}}"></td>
        </tr>
        <tr>
            <td>Decription: </td>
            <td><textarea  name="descript" size="300">{{item.description}}</textarea></td>
        </tr>
        <tr>
            <td><input type="submit" name="Create"></td>
        </tr>
    </table>
    </form>
</div>

<br/>
<div>
    <a href="{{url_for('showCategoryList',category_name=category.name)}}"> back to category </a>
</div>

</body>
</html>